<div class="container">
  <div class="card">
    <div class="card-heading">
      <p>Calc</p>
      <div class="theme">
        <p>THEME</p>
        <span>
          <toggle (clicked)="onToggle($event)"></toggle>
        </span>
      </div>
    </div>

    <div class="card-display">
      <div class="card-display-text">
        {{ input || 0}}
      </div>
      <!-- <div class="sub-display">
        {{ input }}
      </div> -->
    </div>

    <div class="card-keys-holder">
      <button class="keys" (click)="pressKey('7')">7</button>
      <button class="keys" (click)="pressKey('8')">8</button>
      <button class="keys" (click)="pressKey('9')">9</button>
      <button class="keys specialkey" (click)="delete()">DEL</button>
      <button class="keys" (click)="pressKey('4')">4</button>
      <button class="keys" (click)="pressKey('5')">5</button>
      <button class="keys" (click)="pressKey('6')">6</button>
      <button class="keys" (click)="pressKey('+')">+</button>
      <button class="keys" (click)="pressKey('1')">1</button>
      <button class="keys" (click)="pressKey('2')">2</button>
      <button class="keys" (click)="pressKey('3')">3</button>
      <button class="keys" (click)="pressKey('-')">-</button>
      <button class="keys" (click)="pressKey('.')">.</button>
      <button class="keys" (click)="pressKey('0')">0</button>
      <button class="keys" (click)="pressKey('/')">/</button>
      <button class="keys" (click)="pressKey('*')">x</button>
      <button class="keys specialkey specialKeybox" (click)="reset()">
        RESET
      </button>
      <button
        class="keys answer specialKeybox"
        (click)="getAnswer()"
        id="answer"
      >
        =
      </button>
    </div>
  </div>
</div>
